/*variables*/
:root{
    --color-fondo:#f0f;
    --borde-general:15px;
}



/*selectores por etiqueta*/

p {
        color:rgb(47, 138, 141)
}

/*comentarios*/

#importante{
    color: blueviolet;
}

.no-importante{
    color: blue;
}

/*estilo en especifco segun jerarquia en selectores y colores, div > p */
div p{
    color: #f50055;
    font-size: 50px; /* tamaño absolutio*/
}
/*estilo en especifco segun jerarquia, div > h  de forma junta con coma*/
div h5, div h6{
    color:var(--color-fondo)
}

h4{
    background-color: var(--color-fondo);
    border-radius: var(--borde-general);
    font-size: 1cm;
    height: 50vw;
/*  width: max(50vh, 200px); /*min o max*/
    width: clamp(100px, 50vh, 200px);
}

div{
    font-size: 0.5rcm;
}


/*pseudoclases*/
div:hover{
    background-color: #f50055;
    width: 80vh;
    height: 80vh;
    transition: 3s;
}

/*pseudoelemento*/
p::before{
    content: "-";

}
div::before{
    content: "**";

}



/*media querys, ayuda a tener paginas web responsibas*/
/*siempre poner primero pantalla grande y luego pequeña*/

@media(max-width:100px ){
    body{
        background-color: burlywood;
    }
    
}

@media(min-width:5px ){
    body{
        background-color:aquamarine;
    }
    
}