<div
  class="hero min-h-screen"
  style="background-image: url('https://wallpapers.com/images/hd/blue-hd-medical-staff-symbol-eb0mddhppbkibjh7.jpg');"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Sistema Médico Integral</h1>
      <p class="mb-5">
        Nuestro sistema está diseñado para optimizar la gestión de doctores, pacientes y citas médicas. Aquí podrás administrar la información de manera rápida, segura y eficiente, garantizando un mejor servicio y atención en el área de la salud.
      </p>
      <button class="btn btn-primary">Sistema Médico Mamalón</button>
    </div>
  </div>
</div>
