#caja{
    background-color: #00ff00;
    height: 50px;
    width: 50px;
   /* padding: 50px 10px 30px 5px; /*Padding es relleno, si se usan dos parametros es alto x ancho */
   padding-top: 50px;
   padding-right: 10px;
   padding-bottom: 30px;
   padding-left: 5px;
   border-color: #000;
   border-style: solid;
   border: 50 ; 
/*   margin: 60px 20px; */
   margin-top: 10px;
   margin-bottom: 30px;
   margin-left: 2px;
   margin-right: 60px;
   float: left;
}
