/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate;
}



/* 👇 Solo definimos la fuente, no la aplicamos globalmente */
@layer base{
  @font-face {
    font-family: 'Monstserrat';
    src: url('/assets/fonts/monstserrar-medium/Montserrat-Medium') format(truetype);
  }
}

