<!-- Panel lateral del menú -->
<div class="menu-panel" [class.active]="mostrarMenu">
  <section>
    <div class="example-label"></div>
    <div class="example-button-column">
      <button
        mat-stroked-button
        *ngFor="let btn of botones"
        [ngClass]="{'activo': btn.label === seleccionado}"
        (click)="seleccionar(btn)"
        [routerLink]="btn.link">

        <!-- Icono solo para el botón Home -->
        <mat-icon *ngIf="btn.label === 'Home'" class="button-icon">home</mat-icon>
        {{ btn.label }}
      </button>
    </div>
  </section>

  <mat-divider/>
</div>
